/MURA_images
/data/train_images
/data/valid_images
/data/cnn_models
/data/models
/data/wrong_images_all_100
/data/wrong_images_all_64
/data/all_train
/data/all_valid
/models
*models
/simple_class_test
/logdir
/transfer_test
/Xception_class_96
/Xception_class_170
.ipynb_checkpoints/
**/ipynb_checkpoints
/transfer_test
/simple_class_test
**/__pycache__
filter_vis.py
sigmoid_cnn.py